<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">FengQi Management System</a>
      <div>
        <img src="" alt="" id="topbar-photo" style="width: 40px;">
        Welcome 
        <span id="currentUsername"></span>
        Back
        <button type="button" class="btn btn-primary" id="exit">exit</button>
      </div>
    </div>
  </nav> 


  <style>
    .navbar-brand{
      color: black;
    }
    .topbar{
      background-color: #E8ECF0;
    }
  </style>